@using ConcertAPI.Models.Event_Models;
@model Event

<h1>Events</h1>

<div style="display: block">
    <h2>Search your favorite Artist(s) to see their upcoming events.</h2>
</div>

@using (Html.BeginForm("Search", "Artist", FormMethod.Get))
{
    <p>
        Search for Artist: @Html.TextBox("searchTerm")
        <input type="submit" value="Search" />
    </p>
}
<br />

@*<table class="table text-light" border="1">
     <tr>
        <th>Type</th>
        <th>Venue</th>
        <th>Date/Time</th>
        <th>Url</th>
    </tr>
@foreach(var item in Model.Events)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Type)</td>
            <td>@Html.DisplayFor(modelItem => item.Venue)</td>
            <td>@Html.DisplayFor(modelItem => item.Datetime_local)</td>
            <td><a href=/Artist/ArtistEvents/@item.Url>@item.Url</a></td>
        </tr>
    }
</table>*@


