@using ConcertAPI.Models.Event_Models;
@model IEnumerable<Event>

<h1>Events</h1>

<div style="display: block">
    <h2>Here are all the Events in this City based on your search.</h2>
</div>

@{
    ViewData["Title"] = "VenueEvents";
}

<h1>Search</h1>

@using (Html.BeginForm("Search", "Venue", FormMethod.Get))
{
    <p>
        Search for Venue: @Html.TextBox("searchTerm")
        <input type="submit" value="Search" />
    </p>
}
<br />

<table class="table text-light" border="1" style="background-color: rebeccapurple">
    <tr>
        <th>Type</th>
        <th>Venue</th>
        <th>Date/Time</th>
        <th>Url</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Type)</td>
            <td>@Html.DisplayFor(modelItem => item.Venue)</td>
            <td>@Html.DisplayFor(modelItem => item.Datetime_local)</td>
            <td><a href="@item.Url">@item.Url</a></td>
        </tr>
    }
</table>